body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: #F3F3F3;
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.tools {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    background: #171717;
}

.brush {
    position: relative;
    background-color: #F3F3F3;   
    background-image: url("images/brush.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px;
    display: block;
    width: 30px;
    height: 30px;
    margin: 8px auto;   
    border-radius: 6px;
}

.clear-button {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #F3F3F3;   
    background-image: url("images/delete.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px;
    border-radius: 6px;
}

.download-button {
    display: block;
    width: 30px;
    height: 30px;
    margin: 8px auto;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #F3F3F3;   
    background-image: url("images/download.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    border-radius: 6px;
}