body {
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #F3F3F3;
    position: fixed;
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.tools {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
}

.tool {
    width: 36px;
    height: 36px;
    margin: 4px auto;
    border-radius: 50%;
}

.color-picker {
    border: none;
    width: 20px;
    margin: 0;
    padding: 8px;
    height: 20px;
    display: block;
    background-color: transparent;
    /* border-radius: 50%; */
    /* -webkit-appearance: inner-spin-button; */
}

.clear-button {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #F3F3F3;
    background-image: url("images/delete.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    border-radius: 6px;
}

.download-button {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #F3F3F3;
    background-image: url("images/download.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    border-radius: 6px;
}